#main-container{
  margin-top:41px;
}

#todos-container{
   th{
     text-align:left;
     &.ticket {
       width:50px;
     }
     &.title  {
       width:150px;
     }
     &.desc   {
       width:250px;
     }
     &.status {
       width:40px;
     }
     &.action {
       width:150px;
     }

   }
   button {margin-top: 10px;}
}

#todo-form{
  ul {
    li{list-style:none;}
  }
}