<!DOCTYPE html>
<html>
<head>
  <title>StandupBoard</title>
  <%= stylesheet_link_tag  'application' %>
  <%= javascript_include_tag 'private' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
